<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container faa-parent">
    <%= link_to "ライブの記録", root_path, class: "navbar__brand navbar__mainLogo title-logo faa-vertical animated-hover" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-md-auto align-items-center">
        <li>
          <%= search_form_for @q do |f| %>
            <%= f.search_field :title_cont, placeholder: 'タイトルで...' %>
            <%= f.search_field :artist_cont, placeholder: 'アーティストで...' %>
            <%= f.submit ("検索する") %>
          <% end %>
        </li>
        <li>
          <%= link_to "投稿", new_post_path, class: "fa-solid fa-pen-to-square my-gray" %>
        </li>
          <%= link_to "", user_path(current_user), class: "my-gray fa-solid fa-house-user fa-2x fa-fw" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
